/* 
   Styles for my protfolio website
   Author: Jaspreet Kaur
*/
h1 { background-color: rgb(0, 0, 0);
padding: 20px;
color: plum }

h2 {padding: 20px;
color: rgb(207, 169, 207)}

body {
    background-color : #000000;
    color : #ffffff;
    }
    header {
    background-color : #000000;
    color : white;
    text-align : center;
    padding : 30px;
    }
    nav ul {
    list-style-type : none;
    display : flex;
    justify-content : center;
    gap : 20px;
    padding : 5px;
    }
    nav a {
    text-decoration : none;
    color : white;
    padding : 5px 10px;
    }
    nav a:hover {
    background-color : #333;
    }
    section {
    margin : 20px;
    padding : 20px;
    background-color : #d68eff;
    border-radius : 5px;
    box-shadow : 0 2px 4px rgb(0, 0, 0, 0.1);
    color:#000000;

    }
    footer {
    background-color : #310038;
    color : white;
    text-align : center;
    padding : 5px;
    }
    